# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [3]:
import pandas as pd
import numpy as np

In [8]:
import requests
from lxml import etree
html = etree.HTML(requests.get("https://www.worldometers.info/world-population/population-by-country/").text)
data = {'國家': html.xpath("//table[@id='example2']//tr/td[2]/a/text()"),
        '人口': list(map(int, [element.replace(',', '') for element in html.xpath("//table[@id='example2']//tr/td[3]/text()")]))}
data = pd.DataFrame(data)
print(data)

                           國家          人口
0                       China  1433783686
1                       India  1366417754
2               United States   329064917
3                   Indonesia   270625568
4                    Pakistan   216565318
5                      Brazil   211049527
6                     Nigeria   200963599
7                  Bangladesh   163046161
8                      Russia   145872256
9                      Mexico   127575529
10                      Japan   126860301
11                   Ethiopia   112078730
12                Philippines   108116615
13                      Egypt   100388073
14                    Vietnam    96462106
15                   DR Congo    86790567
16                    Germany    83517045
17                     Turkey    83429615
18                       Iran    82913906
19                   Thailand    69625582
20             United Kingdom    67530172
21                     France    65129728
22                      Italy    60550075
23               South Africa    58558270
24                   Tanzania    58005463
25                    Myanmar    54045420
26                      Kenya    52573973
27                South Korea    51225308
28                   Colombia    50339443
29                      Spain    46736776
..                        ...         ...
205                   Bermuda       62506
206          Marshall Islands       58791
207  Northern Mariana Islands       57216
208                 Greenland       56672
209            American Samoa       55312
210       Saint Kitts & Nevis       52823
211            Faeroe Islands       48678
212              Sint Maarten       42388
213                    Monaco       38964
214          Turks and Caicos       38191
215             Liechtenstein       38019
216              Saint Martin       38002
217                San Marino       33860
218                 Gibraltar       33701
219    British Virgin Islands       30030
220     Caribbean Netherlands       25979
221                     Palau       18008
222              Cook Islands       17548
223                  Anguilla       14869
224                    Tuvalu       11646
225           Wallis & Futuna       11432
226                     Nauru       10756
227          Saint Barthelemy        9847
228              Saint Helena        6059
229   Saint Pierre & Miquelon        5822
230                Montserrat        4989
231          Falkland Islands        3377
232                      Niue        1615
233                   Tokelau        1340
234                  Holy See         799

[235 rows x 2 columns]

In [24]:
mostPopulate = data[data['人口']==data['人口'].max()]
for index, row in mostPopulate.iterrows():
    print('最多人口的國家是',row['國家'],'有',row['人口'],'人')

最多人口的國家是 China 有 1433783686 人

In [ ]:
## 讀取 txt 檔
* 請讀取 [text file](https://raw.githubusercontent.com/vashineyu/slides_and_others/master/tutorial/examples/imagenet_urls_examples.txt)
* 懶人複製連結: https://raw.githubusercontent.com/vashineyu/slides_and_others/master/tutorial/examples/imagenet_urls_examples.txt

### Hints: 使用 [Request](https://blog.gtwang.org/programming/python-requests-module-tutorial/) 抓取資料
### Hints: [字串分割](http://www.runoob.com/python/att-string-split.html)
### Hints: 例外處理: [Try-Except](https://pydoing.blogspot.com/2011/01/python-try.html)

In [ ]:
# [作業目標]
- 試著讀取網頁上的圖片連結清單, 再以清單中網址讀取圖片

In [ ]:
# [作業重點]
- 從網頁上讀取連結清單 (In[1], In[2])
- 從清單網址讀取圖片 (In[6]~In[9], Out[6]~Out[9])

In [ ]:
## 假如我們不想把資料載到自己的電腦裡?
# 把連結填入
target_url = 'https://raw.githubusercontent.com/vashineyu/slides_and_others/master/tutorial/examples/imagenet_urls_examples.txt'

In [ ]:
import requests
response = requests.get(target_url)
data = response.text

# 用 request 傳送回來的資料不會認得斷行符號
print(len(data))
data[0:100]

In [ ]:
# 找到換行符號，用該符號做字串分割後，把它拿掉
split_tag = '\n'

data = data.split(split_tag)
print(len(data))
data[0]

In [ ]:
## 將 txt 轉成 pandas dataframe

In [ ]:
import pandas as pd

df = pd.DataFrame([line.split('\t') for line in data])
df.head()

In [ ]:
## 讀取圖片，請讀取上面 data frame 中的前 5 張圖片

In [ ]:
from PIL import Image
from io import BytesIO
import numpy as np
import matplotlib.pyplot as plt

# 請用 df.loc[...] 得到第一筆資料的連結
first_link = df.loc[0,1]
print(first_link)

response = requests.get(first_link)
img = Image.open(BytesIO(response.content))

# Convert img to numpy array
img = np.array(img)

plt.imshow(img)
plt.show()

In [ ]:
def img2arr_fromURLs(url_list, resize = False):
    """
    請完成這個 Function
    Args
        - url_list: list of URLs
        - resize: bool
    Return
        - list of array
    """
    #img_list = [np.array(Image.open(BytesIO(requests.get(url).content))) for url in url_list]
    img_list = []
    for url in url_list:
        try:
            img_list.append(np.array(Image.open(BytesIO(requests.get(url).content))))
        except:
            print('error:'+url)
    return img_list

In [ ]:
result = img2arr_fromURLs(df[0:5][1].values)
print("Total images that we got: %i " % len(result)) # 如果不等於 5, 代表有些連結失效囉

for im_get in result:
    plt.imshow(im_get)
    plt.show()